.return-footer {
  width: 60%;
  margin-left: 20%;
}
h1 {
  margin: 10%;
  transition: font-size 0.5s;
}
h3 {
  margin: 5%;
}
li p {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  transition: font-size 0.3s;
}
@media screen and (max-width: 800px) {
  .return-footer {
    width: 90%;
    margin: 5%;
  }
  h1 {
    font-size: 25px;
  }
  li p {
    font-size: 13px;
    transition: font-size 0.4s;
  }
}
